# Porta do servidor local
PORT=3001

# Chave de API da OpenRouter (obtenha em https://openrouter.ai/keys)
OPENROUTER_API_KEY=

# Endpoint e Modelo na OpenRouter
OPENROUTER_API_URL=https://openrouter.ai/api/v1/chat/completions
OPENROUTER_MODEL=typesafe/jev-latest

